# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
.env/

# PyCharm / JetBrains-specific files
.idea/
*.iml
.idea_modules/

# Local history
.idea/shelf/

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
.coverage
.tox/
htmlcov/

# Log files
*.log

daily_data.csv
