.reveal .quarto-title-block .subtitle {
  font-size: 30px;
}

.reveal .quarto-title-block .quarto-title-authors {
  font-size: 25px;
}

.reveal h2  { font-size: 32px; }
.reveal p  { font-size: 25px; }

.reveal pre code {
  font-size: 16px;   /* Makes code output more compact */
  line-height: 1.2;  /* Tightens spacing */
}

.reveal .MathJax_Display {
  font-size: 0.9em; /* 85% of normal size */
}

/* Makes inline math smaller */
.reveal .MathJax {
  font-size: 0.9em;
}

/* Makes tables smaller */
.cell-output-display table {
  font-size: 0.7em;
}

/* Fix sjPlot table overflow and scaling */
.reveal table {
  width:60% !important;
  margin-left: 30% !important;
  margin-right: auto!important;
  font-size: 0.45em!important;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  max-width: 100%;
}
